/* Common styles */
/* CSS HEX 
--celestial-blue: #3D9DCCff;
--picton-blue: #50A9D1ff;
--aero: #64B6D7ff;
--sky-blue: #77C2DCff;
--sky-blue-2: #8BCFE2ff;
--non-photo-blue: #9EDBE7ff;

--prussian-blue: #012a4aff;
--indigo-dye: #013a63ff;
--indigo-dye-2: #01497cff;
--indigo-dye-3: #014f86ff;
--ucla-blue: #2a6f97ff;
--cerulean: #2c7da0ff;
--air-force-blue: #468fafff;
--air-superiority-blue: #61a5c2ff;
--sky-blue: #89c2d9ff;
--light-blue: #a9d6e5ff;
*/
html,body{
  scroll-behavior: smooth;
}
body {
    background-color: rgb(88, 165, 200) ;
    color: #e9e7e7 ;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Navigation */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    background-color:#3D9DCCff;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #a9d6e5ff;
  }
  
  nav ul li a:hover {
    color:#89c2d9ff ;
    font-size: 1.04rem;
  }
  
  .left {
    font-size: 1.5rem;
  }
/* Sections */
/* First section */
.firstSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding:50px 0;
}

.leftSec {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

.leftSec h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #468fafff; 
}

.leftSec .colorchange {
  color: #2c7da0ff;
}

.leftSec .profession-change {
  opacity: 0;
  animation: changeProfession 9s infinite alternate;
  color: #2c7da0ff;
}

.leftSec .profession-change:nth-child(2) {
  animation-delay: 3s;
}

.leftSec .profession-change:nth-child(3) {
  animation-delay: 6s;
}

@keyframes changeProfession {
  0%, 100% {
    opacity: 0;
  }
  33.33%, 66.66% {
    opacity: 1;
  }
}

/* Right section */
.rightSec {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.image-container {
  max-width: 100%;
  width: 70%;
  height: 70%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

  
/* About Me section */

.secondSec {
  background-size: cover;
  background-position: center;
  background-color: #01497cff;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.secondSec .about-me-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

.secondSec h1 {
  font-size: 2.5rem; 
  margin: 0;
}

.secondSec h1 {
  margin-bottom: 10px;
}

.text-gray {
  color: #ccc;
  display: block;
  margin-top: 10px;
}


.about-me-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

.about-me-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  text-align: left;
}

.image-container img {
  max-width: 100%; /* Adjust image width */
  height:auto;
  border-radius:0;
  box-shadow:none;
}

.about-me-text {
  padding-left: 20px;
}

.about-me-text h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-me-text .text-gray {
  color: #ccc;
  font-size: 1.2rem;
  display: block;
  margin-top: 10px;
}

.about-me-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}


/* Animation */
.about-me-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*third section*/

.skillsSec {
  background-color: #2a6f97ff;
  padding: 80px 0;
  text-align: center;
}

.skills-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.skills-category {
  margin: 0;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInSlideUp 1.5s forwards;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-category h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.skill-label {
  font-weight: bold;
  margin-right: 10px;
}
.progress-bar {
  width: 100%;
  height: 18px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  border-radius: 10px;
  animation: progressBarAnimation 30s linear infinite;
}

@keyframes progressBarAnimation {
  0%, 100% {
    width: 0;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  90%, 30% {
    width: 90%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  20% {
    width: 85%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  40% {
    width: 75%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  50% {
    width: 50%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  60% {
    width: 70%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  70% {
    width: 78%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
  80% {
    width: 65%;
    background: linear-gradient(to right, #2c7da0ff, #89c2d9ff);
  }
}
/*fourth section*/

.timeline{
  color:#a9d6e5ff;
}
.place{
  color:black;
}

.educationSec {
  background-color:#2c7da0ff;
  padding: 60px 0;
  text-align: center;
}

.education-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.education-item {
  background-color: #2a6f97;
  color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: calc(33.33% - 40px);
  min-width: 250px;
  overflow: hidden;
  position: relative;
  animation: glowBorder 1.5s infinite alternate;
  transition: transform 0.2s;
}

.education-item h3 {
  margin-top: 10px;
  font-size: 1.25rem;
}

.education-item p {
  margin-top: 6px;
}

@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes glowBorder {
  0% {
    border: 2px solid #2a6f97 rgba(4, 78, 119, 0.555);
  }
  100% {
    border: 2px solid #2a6f97;
  }
}

.education-item:hover {
  animation: bounceAnimation 0.5s ease infinite;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .education-container {
    justify-content: center;
  }
  
  .education-item {
    width: calc(50% - 40px);
  }
}

/*fifth section*/
.projectsSec {
  background-color: #468fafff ;
  padding: 60px 0;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.project-item {
  background-color:#012a4aff ;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.project-content {
  margin-top: 20px;
}

.project-content img {
  max-width: 100%;
  border-radius: 10px;
}

.project-content p {
  margin-top: 10px;
}

.project-content a {
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.project-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.project-item h3 {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}
/* Contact Section */
.contactSec {
  background-color: #89c2d9ff;
  padding: 60px 0;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.contact-info {
  flex: 1;
  max-width: 400px;
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color:rgb(28, 113, 156);
}

.contact-item i {
  font-size: 24px;
  margin-right: 10px;
}

.contact-form {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #2a6f97;
  color:  rgba(185, 202, 206, 0.958);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-form button:hover {
  background-color: #1a4b6b;
}

@media screen and (max-width: 768px) {
  .contact-container {
    justify-content: center;
  }
  
  .contact-info,
  .contact-form {
    max-width: 100%;
  }
}

  /* Horizontal Rule */
  hr {
    border: 0;
    background-color:#012a4aff;
    margin: auto;
    height:1px;
  }
  
  /* Footer */
  footer {
    background-color:rgb(165, 217, 237) ;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    margin-bottom: 5px;
  }
  /* Individual social icon link */
.social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color:rgb(122, 141, 148);
  transition: color 0.3s;
}

  
  /* Social icon image */
.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s, filter 0.3s;
}
  
  /* Hover effect for social icon */
.social-icons a:hover {
  color:#61a5c2ff; /* Change to your preferred hover color */
}

/* Enlarged social icon on hover */
.social-icons img:hover {
  transform: scale(1.2);
}
  
  p {
    font-size: 5px;
    margin-top: 5px;
    color:#2a6f97;
  }
  
  
  @media screen and (max-width: 1200px) {
    /* Adjustments for medium screens */
    nav ul li {
      margin: 0 10px;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    nav {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  
    nav ul {
      margin-top: 10px;
    }
  
    .left {
      font-size: 1.2rem;
    }
  
    .firstSec {
      margin: 40px 0;
    }
  
    .leftSec {
      font-size: 1.5rem;
    }
  
    .rightSec {
      display: none;
    }
  
    .secondSec {
      padding: 20px;
    }
  
    hr {
      width: 30%;
    }
  }
  /*fancier code*/
  body {
    background-color: #013a63ff;
    color: #e9e7e7;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    font-family:'Caveat',cursive;
    font-size: larger;
  }
  
  h1 {
    font-size: 10rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  .text-gray {
    color: #ccc;
  }
  
  a {
    text-decoration: none;
    color: #61a5c2ff;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #468fafff;
  }
